# Node
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out

# Turbo
.turbo

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Coverage / build
dist
build
coverage

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
